.level-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    }
    .level-selection h2 {
    margin-bottom: 20px;
    }
    .level-selection button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    }
    .level-selection button:hover {
    background-color: #367c39;
    }